.flag-image{
    border-radius: 50px;
    position: relative;
}

.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    border: 3px solid #048abf;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.stat:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.stat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-hotels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
}

.stat-hotels > span {
    font-weight: 800;
    position: relative;
    top: -10px;
}

.stat-hotels-top {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}